    DATABASE_URL=postgres://aarchangel:Aslam786%40@db:5432/chatapp_by_aarchangel_db
    PORT=8080

    # PostgreSQL settings
    POSTGRES_USER=aarchangel
    POSTGRES_PASSWORD=Aslam786@
    POSTGRES_DB=chatapp_by_aarchangel_db

    # Rust specific (optional, examples)
    RUST_LOG=info,actix_web=info
    # RUST_BACKTRACE=1 # Uncomment for detailed panic backtraces during development